# Dependencies
node_modules

# Next.js
.next/
out/

# Env files
*.local
.env

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
todo.txt
.gstack/
next-env.d.ts
tsconfig.tsbuildinfo
